

body {
    font-family: 'ubunturegular';
    src: url('ubuntu-medium-webfont.woff2') format('woff2'),
         url('ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #74757b;
}
.header {
    box-shadow: 0px 3px 7px rgb(0 0 0 / 0.25);
}
.header a {
    color: #74757b;
    text-transform: uppercase;
    font-size: 20px;
    /* color: #393e9b; */
    color: #393e6b;
    text-decoration: none;
}
.header .nav-link {
    margin-right: 8px;
}
.header .logo {
    line-height: 1;
    width: 115px;
}
.header .logo img {
    width: 115px;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url('../img/toggler.svg');
}

@media (min-width: 992px) {
    .header {
        background: url('../img/header_bg.png') no-repeat left;
    }
}

@media (max-width: 991px) {
    .header {
        position: relative;
    }
    .header .navbar {
    }
    .header .navbar-nav {
        margin-bottom: 1rem;
    }
    .header .header__links {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .header .header__links a {
        display: inline-block;
        padding: 8px 0;
    }
    .header .logo {
        position: absolute;
        width: 232px;
        left: 50%;
        margin-left: -117px;
        top: 68px;
        margin-top: -32px;
    }
    .header .logo img {
        width: 232px;
    }
}

@media (max-width: 450px) {
    .header .logo {
        margin-left: -100px;
    }
    .header .logo img {
        width: 200px;
    }
}

/* Section 02 */
.section_02 .link {
    font-size: 18px;
    font-size: 1.125em;
}
.section_02 .links > .item {
    position: relative;
}
.section_02 .links > .item:before {
    color: #eff4f4;
    font-family: 'ubuntubold';
    font-size: 150px;
    font-size: 9.375em;
    margin-left: -47px;
    line-height: 1.2;
}
.section_02 .links > .item:nth-of-type(1):before {
    content: '1';
    display: block;
}
.section_02 .links > .item:nth-of-type(2):before {
    content: '2';
    display: block;
}
.section_02 .links .icon {
    position: absolute;
    top: 50%;
    margin-right: -5px;
}
.section_02 .links .icon-01 {
    font-size: 50px;
    margin-top: -22px;
}
.section_02 .links .icon-02 {
    font-size: 45px;
    margin-top: -18px;
}
@media (max-width: 614px) {
    .section_02 .links > .item:before {
        margin-left: 0;
    }
    .section_02 .links .icon {
        left: 67px;
    }
    .section_02 .links .icon-02 {
        margin-top: -25px;
    }
}
@media (max-width: 424px) {
    .section_02 .links .icon_01 {
        margin-top: -25px;
    }
    .section_02 .links .icon-02 {
        margin-top: -29px;
    }
}


.list--01 li {
    position: relative;
    margin-bottom: 51px;
    padding-left: 37px;
}
.list--01 li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #3b4269;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 14px;
}

.section_05 .list {
    margin-bottom: 3rem;
}
.section_05 .list li {
    display: flex;
    align-items: center;
}
.section_05 .list p {
    color: #393e6b;
}
.section_05 .list .icon use {
    width: 75px;
}

.list--02 .icon {
    width: 75px;
    min-width: 75px;
    height: 75px;
    margin-right: 35px;
}
.list--02 strong {
    color: #393e6b;
    font-size: 24px;
    margin-right: 5px;
}
.list--02 li {
    font-size: 18px;
    margin-bottom: 30px;
}

.section_06 .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 35px;
    line-height: 1.9;
}
.section_06 .link span {
    text-decoration: underline;
}
.section_06 .icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.section_06 #yad {
    width: 40px;
    margin-right: 15px;
}

/* Footer */
.footer {
    padding: 58px 3rem;
    background-color: #393e6b;
}
.footer li {
    list-style: none;
}
.footer .social {
    display: flex;
}
.footer .social a {
    color: transparent;
}
.footer .social .icon {
    height: 30px;
    margin-right: 14px;
}
.footer .social .vk {
    width: 24px;
}
.footer .social .facebook {
    width: 11px;
}
.footer .social .twitter {
    width: 20px;
}
.footer .social .skype {
    width: 20px;
}
.footer {
    color: #bcc2c2;
}
.footer a {
    color: white;
    text-decoration: none;
}

.footer .copyright .logo_footer {
    display: inline-block;
    margin-bottom: 24px;
}
.footer .copyright {
    margin-right: 11.938rem;
}
.footer .copyright p {
    margin-bottom: 0;
    font-size: 14px;
}

.footer .contacts {
    margin-right: auto;
}
.footer .contacts li {
    margin-bottom: 12px;
}
.footer .contacts li:first-child a {
    font-size: 34px;
    font-size: 2.125em;
}
.footer .contacts li:first-child .icon {
    margin-right: 15px;
}
.footer .contacts li a {
    font-size: 22px;
}

.footer .links li {
    margin-bottom: 4px;
}
.footer .links a {
    font-size: 18px;
}

@media (max-width: 1129px) {
    .footer .copyright {
        margin-right: 1.938rem;
    }
    .footer .contacts li a,
    .footer .contacts li:first-child a  {
        font-size:  1em;
        font-family: 'ubuntubold';
    }
}

@media (max-width: 768px) {
    .footer .copyright .logo_footer,
    .footer .contacts,
    .footer .links {
        display: none;
    }
}

.svg_sprite {
    display: none;
}

#chat {
    position: fixed;
    background: #06d6d6 url('../img/chat.svg') no-repeat center / 30px;
    box-shadow: 1px 4px 8px 3px #0000002b;;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 1rem;
    right: 1rem;
    border: none;
    outline: none;
}
#chat:hover {
    opacity: .8;
    transition: .2s;
}